.main {
  display: flex;
  flex-direction: row;
  height: 100%;
  background-color: black;
}

.main h4 {
  text-align: center;
  color: white;
  background-color: grey;
}

.selector {
  flex: 2;
  background-color: var(--tertiary-rgb);
}

.book {
  flex: 6;
  background-color: var(--background-rgb);
  overflow-y: scroll;
}

.cart {
  flex: 4;
  background-color: var(--tertiary-rgb);
}

.gameList {
  overflow: auto;
  max-height: 100%;
}

.gameList ul {
  list-style: none;
}

.gameList li {
  padding: 5px;
}

.game {
  border-radius: 10px;
  background-color: white;
  height: 20vh;
  padding: 20px;
  text-align: center;
}

.game p {
  padding: 25px;
}

.placebutton {
  margin: 0 10%;
  width: 80%;
}

.bet {
  border-radius: 10px;
  background-color: white;
  height: 8vh;
  padding: 8px;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.bet p {
  padding: 25px;
}

.bet button {
  justify-content: flex-end;
}
