/* Bordered form */
.login {
  background-color: #04aa6d;
}

.loginForm {
  border: 3px solid #f1f1f1;
  background-color: #969696;
  width: 40%;
  height: 60%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loginForm input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.loginForm input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.loginForm button {
  background-color: rgb(255, 81, 0);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.loginForm button:hover {
  opacity: 0.8;
}

/* Center image */
.loginForm .imageContainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* image */
.loginForm img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* Add padding to containers */
.loginForm .container {
  padding: 16px;
}
