/* Background color */
.login {
  background-color: var(--tertiary-rgb);
  /* background-image: url("../photos/bosa.jpg");
  background-position-x: 70%;
  background-position-y: 0%; */
  background-size: auto;
  height: 100vh;
  width: 100vw;
}

.loginForm {
  border: 8px solid #f1f1f1;
  background-color: var(--secondary-rgb);
  width: 30%;
  height: 40%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 3%;
}

.loginForm button {
  background-color: rgb(23, 22, 22);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.loginForm button:hover {
  opacity: 0.8;
}

/* Center image */
.loginForm .imageContainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* image */
.loginForm img {
  width: 100px;
  height: 100px;
  /* border-radius: 50%; */
}

/* Add padding to containers */
.loginForm .container {
  padding: 16px;
}

.login h1 {
  padding: 40px;
  text-align: center;
  background: #000000;
  color: white;
  font-size: 50px;
  font-family: fantasy;
}
